
[submodule "docker-ojs"]
	branch=main
	path = docker-ojs
	url = https://github.com/pkp/docker-ojs.git
[submodule "plugins/ulb-theme"]
	path = plugins/ulb-theme
	url = ../ulb-theme.git
[submodule "plugins/searchMarkPlugin"]
	path = plugins/searchMarkPlugin
	url = ../searchMarkPlugin.git
[submodule "plugins/setRemoteUrlPlugin"]
	path = plugins/setRemoteUrlPlugin
	url = ../setRemoteUrlPlugin.git
